[submodule "goal_gen/storage/DirectDriveSim"]
	path = goal_gen/storage/DirectDriveSim
	url = https://github.com/TrimVis/DirectDriveSim.git
[submodule "goal_gen/ai/nccl_nvtx_v2.20.5"]
	path = goal_gen/ai/nccl_nvtx_v2.20.5
	url = https://github.com/ZhiyiHu1999/nccl_nvtx_v2.20.5-1.git
[submodule "apps/hpc/hpcg"]
	path = apps/hpc/hpcg
	url = https://github.com/hpcg-benchmark/hpcg.git
[submodule "apps/hpc/lulesh"]
	path = apps/hpc/lulesh
	url = https://github.com/LLNL/LULESH.git
[submodule "apps/hpc/lammps"]
	path = apps/hpc/lammps
	url = https://github.com/lammps/lammps.git
[submodule "apps/hpc/milc_qcd"]
	path = apps/hpc/milc_qcd
	url = https://github.com/milc-qcd/milc_qcd.git
[submodule "apps/hpc/icon"]
	path = apps/hpc/icon
	url = https://gitlab.dkrz.de/icon/icon-model.git
[submodule "apps/hpc/deps/hdf5"]
	path = apps/hpc/deps/hdf5
	url = https://github.com/HDFGroup/hdf5.git
[submodule "apps/hpc/deps/netcdf-c"]
	path = apps/hpc/deps/netcdf-c
	url = https://github.com/Unidata/netcdf-c.git
[submodule "apps/hpc/deps/netcdf-fortran"]
	path = apps/hpc/deps/netcdf-fortran
	url = https://github.com/Unidata/netcdf-fortran.git
[submodule "sim/htsim"]
	path = sim/htsim
	url = https://github.com/spcl/HTSIM.git
[submodule "apps/ai/Megatron-LM"]
	path = apps/ai/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "apps/ai/dlrm"]
	path = apps/ai/dlrm
	url = https://github.com/facebookresearch/dlrm.git
